<nav class="navbar navbar-expand-lg navbar-light py-3">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggler.toggle()"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand text-light font-weight-bold" [routerLink]="''">Tourist Community</a>
    <div
      class="collapse navbar-collapse"
      id="navbarToggler"
      mdbCollapse
      #toggler="mdbCollapse"
    >
      <nav class="text-light font-weight-bolder me-auto mb-2 mb-lg-0" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="''">Home</a></li>
        </ol>
      </nav>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-warning" [routerLink]="'/admin/dashboard'">
            Admin Dashboard
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
