<div class="p-5 bg-light">
  <button
    class="btn btn-primary btn-sm"
    type="button"
    (click)="addMunicipalityForm.toggle()"
    aria-expanded="false"
    aria-controls="addMunicipalityForm"
  >
    <span><i class="fas fa-plus"></i> Municipality</span>
  </button>

  <div class="mt-3" id="addMunicipalityForm" mdbCollapse #addMunicipalityForm="mdbCollapse">
    <form (ngSubmit)="onMunicipalityAdd(f)" #f='ngForm' ngNativeValidate>
      <h6 class="font-weight-bolder mb-3">Add a new municipality</h6>

      <div class="row align-items-center">
        <div class="col-12 col-lg-5 mb-2 form-floating">
          <select class="form-select" id="country" name="country" ngModel required="required" [(ngModel)]="selectedCountryId" (change)="selectCountry()">
            <option *ngFor="let country of countries"
                    [value]="country.id">
              {{country.name}}
            </option>
          </select>
          <label for="country">Country</label>
        </div>
        <div class="col-12 col-lg-5 mb-2">
          <mdb-form-control>
            <input mdbInput type="text" id="name" name="name" class="form-control form-control-lg" ngModel required minlength="3" #name="ngModel" />
            <label mdbLabel class="form-label" for="name">Municipality name</label>
          </mdb-form-control>
        </div>
        <div class="col-12 col-lg-2 mb-2">
          <button mdbRipple rippleColor="light" type="submit" class="btn btn-lg btn-primary btn-block">Add</button>
        </div>
      </div>
    </form>
  </div>

  <hr class="my-4" />

  <div class="table-responsive" *ngIf="municipalities.length > 0; else noMunicipalities">
    <table class="table table-sm">
      <caption>
        Municipalities
      </caption>
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let municipality of municipalities">
        <td>{{municipality.name}}</td>
        <td title="{{municipality.country.name}}">{{municipality.country.code}}</td>
        <td>
          <div class="btn-group btn-group-sm d-flex justify-content-center" role="group">
            <button mdbRipple rippleColor="light" type="button" class="btn btn-primary btn-sm" (click)="editMunicipality(municipality.id)">
              <i class="fas fa-edit"></i>
            </button>
            <button mdbRipple rippleColor="light" type="button" class="btn btn-danger btn-sm" (click)="deleteMunicipality(municipality.id)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noMunicipalities>
    <p class="text-center">There is no municipalities.</p>
  </ng-template>
</div>
