<div class="p-5 bg-light">
  <button
    class="btn btn-primary btn-sm"
    type="button"
    (click)="addLandmarkForm.toggle()"
    aria-expanded="false"
    aria-controls="addLandmarkForm"
  >
    <span><i class="fas fa-plus"></i> Landmark</span>
  </button>

  <div class="mt-3" id="addLandmarkForm" mdbCollapse #addLandmarkForm="mdbCollapse">
    <form (ngSubmit)="onLandmarkAdd(f)" #f='ngForm' ngNativeValidate>
      <h6 class="font-weight-bolder mb-3">Add a new landmark</h6>

      <div class="row">
        <div class="col-12 col-lg-5 mb-2 form-floating">
          <select class="form-select" id="country" name="country" ngModel required="required" [(ngModel)]="selectedCountryId" (change)="getMunicipalitiesFromSelectedCountry()">
            <option *ngFor="let country of countries"
                    [value]="country.id">
              {{country.name}}
            </option>
          </select>
          <label for="municipality">Country</label>
        </div>
        <div class="col-12 col-lg-4 mb-2 form-floating">
          <select class="form-select" id="municipality" name="municipality" ngModel required="required" [(ngModel)]="selectedMunicipalityId" [disabled]="!selectedCountryId">
            <option *ngFor="let municipality of municipalities"
                    [value]="municipality.id">
              {{municipality.name}}
            </option>
          </select>
          <label for="municipality">Municipality</label>
        </div>
        <div class="col-12 col-lg-3 mb-2 form-floating">
          <select class="form-select" id="importance" name="importance" ngModel required="required" [(ngModel)]="selectedImportanceId">
            <option *ngFor="let importanceType of importanceTypes"
                    [value]="importanceType.id">
              {{importanceType.name}}
            </option>
          </select>
          <label for="importance">Importance type</label>
        </div>
        <div class="col-12 col-lg-6 mb-2">
          <mdb-form-control>
            <input mdbInput type="text" id="name" name="name" class="form-control form-control-lg" ngModel required minlength="3" #name="ngModel" />
            <label mdbLabel class="form-label" for="name">Landmark name</label>
          </mdb-form-control>
        </div>
        <div class="col-12 col-lg-3 mb-2">
          <mdb-form-control>
            <input mdbInput type="text" id="lat" name="lat" class="form-control form-control-lg" ngModel required #lat="ngModel" />
            <label mdbLabel class="form-label" for="lat">Latitude</label>
          </mdb-form-control>
        </div>
        <div class="col-12 col-lg-3 mb-2">
          <mdb-form-control>
            <input mdbInput type="text" id="lng" name="lng" class="form-control form-control-lg" ngModel required #lng="ngModel" />
            <label mdbLabel class="form-label" for="lng">Longitude</label>
          </mdb-form-control>
        </div>
        <div class="col-12 col-lg-12 mb-2">
          <mdb-form-control>
            <textarea mdbInput class="form-control" id="description" name="description" ngModel #description="ngModel" rows="4"></textarea>
            <label mdbLabel class="form-label" for="description">Description</label>
          </mdb-form-control>
        </div>
        <div class="col-12 col-lg-2 mb-2">
          <button mdbRipple rippleColor="light" type="submit" class="btn btn-primary btn-block">Add</button>
        </div>
      </div>
    </form>
  </div>

  <hr class="my-4" />

  <div class="table-responsive" *ngIf="landmarks.length > 0; else noLandmarks">
    <table class="table table-sm">
      <caption>
        Landmarks
      </caption>
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Municipality</th>
        <th scope="col">Active</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let landmark of landmarks">
        <td>{{landmark.name}}</td>
        <td>{{landmark.description}}</td>
        <td>{{landmark.municipality.name}} ({{landmark.municipality.country.code}})</td>
        <td>
          <div class="form-check form-switch">
            <input mdbCheckbox class="form-check-input" type="checkbox" id="active" [checked]="landmark.active" (checkboxChange)="toggleActive(landmark.id, $event)" />
          </div>
        </td>
        <td>
          <div class="btn-group btn-group-sm d-flex justify-content-center" role="group">
            <button mdbRipple rippleColor="light" type="button" class="btn btn-primary btn-sm" (click)="editLandmark(landmark)">
              <i class="fas fa-edit"></i>
            </button>
            <button mdbRipple rippleColor="light" type="button" class="btn btn-danger btn-sm" (click)="deleteLandmark(landmark.id)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noLandmarks>
    <p class="text-center">There is no landmarks.</p>
  </ng-template>
</div>
