<div class="p-5 bg-light">
  <button
    class="btn btn-primary btn-sm"
    type="button"
    (click)="addCountryForm.toggle()"
    aria-expanded="false"
    aria-controls="addCountryForm"
  >
    <span><i class="fas fa-plus"></i> Country</span>
  </button>

  <div class="mt-3" id="addCountryForm" mdbCollapse #addCountryForm="mdbCollapse">
    <form (ngSubmit)="onCountryAdd(f)" #f='ngForm' ngNativeValidate>
      <h6 class="font-weight-bolder mb-3">Add a new country</h6>

      <div class="row">
        <div class="col-8 mb-2">
          <mdb-form-control>
            <input mdbInput type="text" id="name" name="name" class="form-control form-control-lg" ngModel required minlength="3" #name="ngModel" />
            <label mdbLabel class="form-label" for="name">Country name</label>
          </mdb-form-control>
        </div>
        <div class="col-4 col-lg-2 mb-2">
          <mdb-form-control>
            <input mdbInput type="text" id="code" name="code" class="form-control form-control-lg" ngModel required minlength="2" maxlength="2" #code="ngModel" />
            <label mdbLabel class="form-label" for="code">Code</label>
          </mdb-form-control>
        </div>
        <div class="col-12 col-lg-2 mb-2">
          <button mdbRipple rippleColor="light" type="submit" class="btn btn-lg btn-primary btn-block">Add</button>
        </div>
      </div>
    </form>
  </div>

  <hr class="my-4" />

  <div class="table-responsive" *ngIf="countries.length > 0; else noCountries">
    <table class="table table-sm">
      <caption>
        Countries
      </caption>
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let country of countries">
        <td>{{country.name}}</td>
        <td>{{country.code}}</td>
        <td>
          <div class="btn-group btn-group-sm d-flex justify-content-center" role="group">
            <button mdbRipple rippleColor="light" type="button" class="btn btn-primary btn-sm" (click)="editCountry(country.id)">
              <i class="fas fa-edit"></i>
            </button>
            <button mdbRipple rippleColor="light" type="button" class="btn btn-danger btn-sm" (click)="deleteCountry(country.id)">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noCountries>
    <p class="text-center">There is no countries.</p>
  </ng-template>
</div>
