<mdb-tabs [fill]="true" #dashboardTabs>
  <mdb-tab>
    <ng-template mdbTabTitle>
      <span><i class="fas fa-lg fa-globe-europe me-2"></i> Countries</span>
    </ng-template>
    <hr class="my-4" />
    <ng-template mdbTabContent>
      <app-countries [countries]="countries"></app-countries>
    </ng-template>
  </mdb-tab>
  <mdb-tab>
    <ng-template mdbTabTitle>
      <span><i class="fas fa-lg fa-flag me-2"></i> Municipalities</span>
    </ng-template>
    <hr class="my-4" />
    <ng-template mdbTabContent>
      <app-municipalities [countries]="countries"></app-municipalities>
    </ng-template>
  </mdb-tab>
  <mdb-tab>
    <ng-template mdbTabTitle>
      <span><i class="fas fa-lg fa-landmark me-2"></i> Landmarks</span>
    </ng-template>
    <hr class="my-4" />
    <ng-template mdbTabContent>
      <app-landmarks [countries]="countries"></app-landmarks>
    </ng-template>
  </mdb-tab>
</mdb-tabs>
