<form (ngSubmit)="onLandmarkUpdate(f)" #f='ngForm' ngNativeValidate *ngIf="landmarkData">
  <div class="modal-header">
    <h5 class="modal-title">{{landmarkData.name}}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 mb-2 form-floating">
        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="landmarkData.name" required minlength="3" #name="ngModel" />
        <label for="name">Landmark name</label>
      </div>
      <div class="col-12 mb-2 form-floating">
        <textarea mdbInput class="form-control" id="description" name="description" [(ngModel)]="landmarkData.description" #description="ngModel" rows="4"></textarea>
        <label for="name">Description</label>
      </div>
      <div class="col-12 col-lg-6 mb-2 form-floating">
        <select class="form-select" id="country" name="country" [(ngModel)]="landmarkData.municipality.country.name" required="required" disabled>
          <option>{{landmarkData.municipality.country.name}}</option>
        </select>
        <label for="country">Country</label>
      </div>
      <div class="col-12 col-lg-6 mb-2 form-floating">
        <select class="form-select" id="municipality" name="municipality" [(ngModel)]="landmarkData.municipality.name" required="required" disabled>
          <option>{{landmarkData.municipality.name}}</option>
        </select>
        <label for="municipality">Municipality</label>
      </div>
      <div class="col-4 mb-2 form-floating">
        <select class="form-select" id="importance" name="importance" [(ngModel)]="landmarkData.importance.name" required="required">
          <option *ngFor="let importanceType of importanceTypes"
                  [value]="importanceType.name">
            {{importanceType.name}}
          </option>
        </select>
        <label for="importance">Importance type</label>
      </div>
      <div class="col-4 mb-2 form-floating">
        <input type="text" id="lat" name="lat" class="form-control" [(ngModel)]="landmarkData.coordinates.lat" required disabled #lat="ngModel" />
        <label for="lat">Latitude</label>
      </div>
      <div class="col-4 mb-2 form-floating">
        <input type="text" id="lng" name="lng" class="form-control" [(ngModel)]="landmarkData.coordinates.lng" required disabled #lng="ngModel" />
        <label for="lat">Longitude</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
</form>
